<small class="text-gray-500">{{name}}</small>
<div class="message mb-4 flex ">
    
    <div class="flex-2">
    
        <div class="w-12 h-12 rounded-full mx-auto bg-gray-300 flex items-center justify-center">
            <span class="text-gray-800 text-xl">{{photo}}</span>
          </div>
    </div>
    <div class="flex-1 px-2">
        <div *ngIf="!file"  class="inline-block bg-gray-300 rounded-2xl p-2 px-6 text-gray-700">
            <span class="break-all">{{message}}</span>
        </div>
        <div *ngIf="file" class=" inline-block bg-gray-200 rounded-2xl p-2 px-6 text-black">
            <mat-icon class="bg-gray-500 rounded-full ">get_app</mat-icon>
            <span class="break-all">{{message}}</span>
        </div>
        <div class="pl-4"><small class="text-gray-500">{{date}}</small></div>
    </div>
    
</div>